<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Simple Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
    <link rel="shortcut icon" href="./weather.png">
    <link rel="stylesheet" type="text/css" media="screen" href="css/mobile.css" />
    <script src="js/vue.js"></script>
</head>
<body>
    


<div id="vapp" class="row">
    
    <div class="tem">
        <!--这里临时插入测试代码-->
        <div class="row">
            <p>{{vnowweather.city}}</p>
        
            <button @click="loadshanghai">假装我在上海</button>
            <button @click="loadanshun">假装我在安顺</button>
            <button @click="vupup">真的看看当前位置天气</button>
        </div>
    </div>
     <!--上面能出数据，就往下面粘贴-->

     <!--导航-->
    <div class="nav">
        <div class="sm-nav c">
            <span>{{ vnow.city }}</span>
            <div class="dropdown">
                <div class="dropdown-button" @click="displayDDcontent"></div>
                <div class="dropdown-content" v-show="isShowDD">
                    <div class="city" v-for="city in citylist" :key="city.id">
                        {{ city.name }}                       
                    </div>     
                </div> 
            </div>
            
        </div>
        <div class="md-nav" v-for="city in citylist" :key="city.id">
            <div class="cityblock">{{ city.name }}</div>
        </div>
    </div>

    <!--主要内容-->
    <div class="main">
        <div class="row">
            <!--今天天气-->
            <div class="today">
                <div class="icon"></div>
                <p><span>今天 · {{ vnow.week }}</span></p>
                <p>{{ vnow.temp }}°C</p>
                <h1>{{ vnow.weather }}</h1>
            </div>

            <!--明天天气-->
            <div class="tomorrow">
                <div class="icon"></div>
                <p><span>明天 · {{ vnow.week }}</span></p>
                <p>{{ vnow.temp }}°C</p>
                <h1>{{ vnow.weather }}</h1>
            </div>

            <!--一周天气-->
            <div class="weeks">
                <div class="week" v-for="week in vnow.daily" :key="week.id">
                    <div>{{ week.week }}</div>
                    <div>{{ week.day.weather }}</div>
                    <div>{{ week.day.img }}</div>
                    <div>{{ week.day.windpower }}</div>
                    <div>{{ week.day.temphigh }}</div>
                    <div>{{ week.night.templow }}</div>
                    <div>{{ week.night.windpower }}</div>
                    <div>{{ week.night.img }}</div>
                    <div>{{ week.night.weather }}</div>
                </div>
            </div>

            <!--24小时预报-->
            <div class="hours row">
                <div v-for="hour in vnow.hourly" :key="hour.id">
                    <p>{{ hour.time }}-图片-{{ hour.img }}-{{hour.weather}}-{{hour.temp}}°C</p>
                </div>
            </div>

            <!--生活指数-->
            <div class="lifes row">
                <div class="life row" v-for="life in vnow.index" :key="life.id">
                    <div class="lifename">{{life.iname}}</div>
                    <div class="lifedetail">{{life.ivalue}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="./js/mobileweather.js"></script>
</body>
</html>